{
    :intro "Rust... Rust never changes. It creeps into your home, your things, your thoughts.
Even food tastes a little rusty. But who I am to complain?
At least I _have_ food, what little amount my CyberRats(tm) can scrounge from the surface.

And so it goes, Great Cycle Of Life:

Build. Wait. Eat.
Rinse. Repeat.
Die."
}